html,
body{
    height: 100%;
}

body {
    font-size: 16px;
    color: $blue900;
    background-color: $white;
    font-family: $rubik;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.container {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
    
    &--sm {
        max-width: 1200px;
    }
}

.title {
    font-family: $dmsans;
    font-weight: 700;
    font-size: 36px;
    color: $black700;
    text-align: center;
    margin-bottom: 20px;

    @include r($mob) {
        font-size: 26px;
    }
}