.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

body {
    font-size: 16px;
    color: $default;
    background-color: #fff;
    @extend %rubik-400;
}

.container-wide {
    width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    @extend %DMSans-700;
    font-size: 36px;
    color: #191919;
    text-align: center;
}

a:hover {
    color: #191919;
}