$yellow400: #fcd7b6;
$yellow600: #fef7f0;
$yellow700: #fde3cc;
$yellow500: #fde7d3;
$yellow300: #feefe2;
$blue900: #243f4d;
$blue800: #1f2044;
$blue700: #436372;
$blue500: #a3bbc8;
$blue400: #234969;
$black900: #000;
$black800: #262626;
$black700: #191919;
$black200: #414141;
$black100: #585858;
$gray100: #edf1f4;
$gray200: #f8f8f8;
$gray300: #8b8b8b;
$gray400: #7b7b7b;;
$white: #fff;
$white200: #f9fafb;
$white300: #e0e0e0;
$green200: #dfe3e2;


$poppins: 'Poppins', sans-serif;
$rubik: 'Rubik', sans-serif;
$dmsans: 'DMSans', sans-serif;

$lg: 1200;
$md: 992;
$sm: 768;
$mob: 576;

@mixin clamp ($clamp...){
  display: -webkit-box;
  -webkit-line-clamp: $clamp;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}


@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}
@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}


@mixin r($width) {
  @media only screen and (max-width: $width+ "px") {
    @content;
  }
}