.header {
    padding: 60px 0;

    &__top {
        position: fixed;
        right: 0;
        left: 0;
        z-index: 2;
        top: 0;
        transition: background-color 0.5s, box-shadow 0.5s, padding 0.5s, top 0.5s;

        &--fixed {
            background-color: $yellow600;
            top: 0;
            padding: 10px 0;
            box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.80);
        }
    }

}

.logo {

    @include r($sm) {
        z-index: 1;
    }

    &--header {
        margin-right: 150px;

        @include r($lg) {
            margin-right: 0;
        }
    }

    &__img {
        object-fit: cover;
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--header {
        padding-top: 15px;
    }

    &__list {
        display: flex;
        transition: transform 1s, background-color 1s, box-shadow 0.5s;

        @include r($sm) {
            position: absolute;
            flex-direction: column;
            left: 0;
            top: 0;
            right: 0;
            padding-top: 60px;
            transform: translateY(-200%);
        }

        &--active {
            transform: translateY(0);

            @include r($sm) {
                background-color: #fef7f0;
                box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.80);
            }
        }
    }

    &__item {
        text-align: center;

        &:not(:last-child) {
            margin-right: 35px;
        }

        &--header{

            &:not(:last-child) {
                @include r($sm) {
                    margin-right: 0;
                }
            }
        }
    }

    &__link {
        font-size: 15px;
        padding-bottom: 5px;
        color: $blue700;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.5s, color 0.5s;
        outline: transparent;
        font-family: $rubik;
        font-weight: 500;

        &--header {

            @include r($sm) {
                font-size: 26px;
                display: block;
                padding: 20px;
            }
        }

        &:hover {
            border-color: $blue700;
        }

        &:focus {
            color: $black900;
        }
    }
}

.user-nav {
    display: flex;

    @include r($md) {
        flex-direction: column-reverse;
    }

    &__link {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;        

        &--search {
            margin-right: 20px;
            background-color: $gray100;
            border: 1px solid transparent;
            outline: transparent;
            fill: $blue900;
            transition: background-color 0.5s, fill 0.5s;

            @include r($lg) {
                margin-right: 5px;
            }

            @include r($md) {
                position: absolute;
                transform: translateY(300%);
            }

            @include r($sm) {
                transform: translate(200%, 300%);
                transition: transform 1s;
            }

            &-active{

                @include r($sm) {
                transform: translate(0, 300%);
                }
            }

            &:hover {
                background-color: $blue500;
                fill: $white;
            }

            &:focus {
                border-color: $black900;
            }
        }

        &--heart {
            position: relative;
            display: block;
            padding: 16px 55px 12px 35px;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            outline: transparent;
            transition: fill 0.5s;

            @include r($lg) {
                display: flex;
                padding: 0;
                background-color: $yellow400;
                margin-right: 5px;
            }

            @include r($md) {
                background-color: $gray100;
            }            

            &:hover {
                fill: $white;
            }

            &:focus {
                background-color: $yellow500;
            }
        }

        &--cart {
            position: relative;
            display: block;
            padding: 16px 55px 12px 30px;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            outline: transparent;
            transition: fill 0.5s;

            @include r($lg) {
                display: flex;
                padding: 0;
                background-color: $yellow400;
                margin-right: 5px;
            }

            @include r($md) {
                background-color: $gray100;
            }


            &:hover {
                fill: $white;
            }

            &:focus {
                background-color: $yellow500;
            }
        }

        &--btn {
            background-color: $blue500;
            border: 1px solid transparent;
            outline: transparent;
            fill: $white;
            transition: fill 0.5s;

            @include r($md) {
                position: relative;
            }

            &:hover {
                fill: $black900;
            }

            &:focus {
                border-color: $black900;
            }
        }

    }

    &__number {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 8px;
        right: 24px;
        text-align: center;
        font-size: 10px;
        line-height: 1.8;
        background-color: $white;
        border-radius: 50%;
        font-family: $dmsans;
        font-weight: 400;
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        margin-right: 20px;
        fill: $blue900;
        background-color: $yellow400;
        border-radius: 25px;

        @include r($lg) {
            background-color: transparent;
            margin-right: 0;
        }

        @include r($md) {
            position: absolute;
            transform: translateY(100%);
            flex-direction: column;
        }

        @include r($sm) {
            transform: translate(200%, 100%);
            transition: transform 1s;
        }

        &--active{

            @include r($sm) {
            transform: translate(0, 100%);
            }
        }
        
    }

}