.header {
    padding: 95px 0 50px;

    @include r($sm) {
        padding: 70px 0 0;
    }

    &__top {
        position: absolute;
        transition: background-color 0.5s, box-shadow 0.5s, position 0.5s, padding 1.5s;
        padding-top: 45px;
        right: 0;
        left: 0;
        top: 0;
        z-index: 15;

        @include r($sm) {
            padding-top: 10px;
        }

        &--fixed {
            position: fixed;
            background-color: $yellow600;
            padding: 10px 0;
            box-shadow: 0px 6px 47px 3px $r-black800;
        }
    }

    .logo__img {
        
        @include r($mob) {
            position: absolute;
            top: 10px;
            left: 15px;
        }
    }
}

.logo {

    @include r($lg) {
        z-index: 15;
    }

    &--header {
        margin-right: 150px;

        @include r($lg) {
            margin-right: 0;
        }
    }

    &__img {
        object-fit: cover;

    }

}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__header {

        .menu__item {

            &:not(:last-child) {
                @include r($md) {
                    margin-right: 0;
                }
            }
        }

        .menu__link {

            @include r($md) {
                font-size: 26px;
                display: block;
                padding: 20px;
            }

            @include r($mob) {
                font-size: 22px;
            }
        }
    }

    &__list {
        display: flex;

        @include r($md) {
            position: absolute;
            flex-direction: column;
            left: 0;
            top: 0;
            right: 0;
            height: 100vh;
            overflow-y: scroll;
            padding-top: 120px;
            transform: translateY(-200%);
            transition: transform 1s, background-color 1.5s, box-shadow 1s;
        }

        &--active {
            transform: translateY(0);

            @include r($md) {
                background-color: $yellow600;
                box-shadow: 0px 6px 47px 3px $r-black800;
            }
        }
    }

    &__item {
        text-align: center;

        &:not(:last-child) {
            margin-right: 35px;
        }
    }

    &__link {
        font-size: 15px;
        padding-bottom: 5px;
        color: $blue700;
        border-bottom: 1px solid transparent;
        transition: border-bottom 0.5s, color 0.5s;
        outline: transparent;
        font-family: $rubik;
        font-weight: 500;

        &:hover {
            border-color: $blue700;
        }

        &:focus {
            color: $black900;
            border-color: $black900;
        }
    }

    &__button {
        display: none;
        z-index: 2;
        border: none;
        background-color: transparent;
        position: absolute;
        right: 0;
        transform: translateX(-50%);

        @include r($md) {
            display: block;
        }

        &--active {
            svg {
                transform: rotate(90deg);
            }
        }

        svg {
            fill: $blue700;
            transition: transform 0.5s;
        }
    }
}

.user-nav {
    display: flex;

    @include r($md) {
        transform: translateX(-25%);
    }

    @include r($mob) {
        transform: translate(0, -200%);
        transition: transform 1s;
    }

    &--active {
        @include r($mob) {
            transform: translate(0, 100%);
        }
    }

    &__link {

        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;

        &--search {
            margin-right: 20px;
            background-color: $gray100;
            border: 1px solid transparent;
            outline: transparent;
            fill: $blue900;
            transition: background-color 0.5s, fill 0.5s;

            @include r($lg) {
                margin-right: 5px;
            }

            &:hover {
                background-color: $blue500;
                fill: $white;
            }

            &:focus {
                border-color: $black900;
            }
        }

        &--heart {
            position: relative;
            display: block;
            padding: 16px 55px 12px 35px;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            outline: transparent;
            transition: fill 0.5s;

            @include r($lg) {
                display: flex;
                padding: 0;
                background-color: $yellow400;
                margin-right: 5px;
            }

            &:hover {
                fill: $white;
            }

            &:focus {
                background-color: $yellow500;
            }
        }

        &--cart {
            position: relative;
            display: block;
            padding: 16px 55px 12px 30px;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            outline: transparent;
            transition: fill 0.5s;

            @include r($lg) {
                display: flex;
                padding: 0;
                background-color: $yellow400;
                margin-right: 5px;
            }

            &:hover {
                fill: $white;
            }

            &:focus {
                background-color: $yellow500;
            }
        }

        &--btn {
            background-color: $blue500;
            border: 1px solid transparent;
            outline: transparent;
            fill: $white;
            transition: fill 0.5s;

            &:hover {
                fill: $black900;
            }

            &:focus {
                border-color: $black900;
            }
        }
    }

    &__number {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 8px;
        right: 24px;
        text-align: center;
        font-size: 10px;
        line-height: 1.8;
        background-color: $white;
        border-radius: 50%;
        font-family: $dmsans;
        font-weight: 400;

        @include r($lg) {
            right: 8px;
        }
    }

    &__wrapper {
        display: flex;
        justify-content: center;
        margin-right: 20px;
        fill: $blue900;
        background-color: $yellow400;
        border-radius: 25px;

        @include r($lg) {
            background-color: transparent;
            margin-right: 0;
        }
    }
}
