.partners {
    background-color: $yellow600;
    padding-top: 170px;

    @include r($md) {
        padding-top: 0;
    }

    &__wrapper {
        display: flex;
    }

    &__items {
        display: flex;
        padding: 90px 0 90px 50px;
        align-items: center;

        @include r($md) {
            padding: 60px 0 80px 0;
        }

        @include r($mob) {
            padding: 30px 0 50px 0;
        }
    }

    &__logo {
        object-fit: cover;
    }

    .slick-track {
        display: flex;
        align-items: center;
    }


    .slick-slide {

        img {

            @include r($md) {
                margin: 0 auto;
            }
        }
    }

}