.product-popular {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    align-items: center;

    @include r($lg) {
        flex-direction: column;
    }

    @include r($md) {
        align-items: unset;
    }

    &__img {
        position: relative;
        top: -100px;
        object-fit: cover;
        width: 235px;
        height: 405px;

        @include r($lg) {
            top: 0;
        }

        @include r($md) {
            width: 20%;
            margin: 0 auto;
            height: auto;
        }
    }

    &__inner {
        padding: 49px 20px 65px 50px;

        @include r($md) {
            padding: 15px;
        }
    }

    &__title {
        font-family: $dmsans;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.3;
        @include clamp(3);
        margin-bottom: 15px;

        @include r($md) {
            @include clamp(1);
        }
    }

    &__text {
        @include clamp(5);
        line-height: 1.9;
        margin-bottom: 30px;
    }

    &__link {
        display: inline-block;
        color: $blue900;
        background-color: transparent;
        border: 1px solid $r-blue400;
        border-radius: 5px;
        transition: color 0.5s;

        &:hover {
            color: $blue500;

            svg {
                fill: $blue500;
            }
        }

        svg {
            fill: $blue900;
            transition: fill 0.5s;
        }
    }
}