.product-card {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: $dmsans;

    &:hover {

        .product-card__icons {
            opacity: 1;
        }
    }

    &__wrapper {
        padding: 25px 15px;
        margin-bottom: 50px;
        height: 240px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include r($md) {
            padding: 15px 15px;
            margin-bottom: 0;
        }
    }

    &__icons {
        opacity: 0;
        transition: opacity 0.5s;
        position: absolute;
        display: flex;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);

        @include r($lg) {
            opacity: 1;
        }
    }

    &__item:not(:last-child) {
        margin-right: 20px;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        fill: $blue500;
        border: 1px solid transparent;
        border-radius: 50%;
        background-color: $white;
        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.40);
        transition: fill 0.3s, background-color 0.3s, box-shadow 0.3s;
        outline: transparent;

        &:hover {
            background-color: $blue500;
            fill: $white;
            box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.80);
        }

        &:focus {
            border-color: $blue500;
        }

    }


    &__img {
        display: block;
        object-fit: cover;
    }

    &__subtitle {
        margin-bottom: 10px;
        font-size: 16px;
        color: $blue900;
        font-weight: 500;
        @include clamp(1);
    }

    &__count {
        display: block;
        margin-bottom: 38px;
        font-weight: 700;
        color: $blue500;
        @include clamp(1);

        @include r($md) {
            margin-bottom: 15px;
        }
    }
}