<header class="header">
    <div class="header__top">
        <div class="container">
            <nav class="menu menu__header">
                <a class="logo logo--header" href="#">
                    <img class="logo__img" src="images/content/logo.png" width="150" height="40" alt="logo">
                </a>
                <ul class="menu__list">
                    <li class="menu__item">
                        <a class="menu__link" href="#">Home +</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">About</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Servises</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Pages +</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">News</a>
                    </li>
                    <li class="menu__item">
                        <a class="menu__link" href="#">Contact</a>
                    </li>
                </ul>  
                <button class="menu__button" type="button">
                    <svg class="menu__icon" width="30" height="18" viewBox="0 0 30 18" fill="#fff">
                        <path d="M0 0H30V2H0V0Z"></path>
                        <path d="M0 8H30V10H0V8Z"></path>
                        <rect y="16" width="30" height="2"></rect>
                    </svg>
                    <span class="sr-only">"Нажать" раскрыть меню навигации</span>
                </button> 
                <div class="user-nav">  
                    <a class="user-nav__link user-nav__link--search" href="#">
                        <span class="sr-only">for search</span>
                        <svg width="22" height="18">
                            <use xlink:href="images/sprite.svg#search"></use>
                        </svg>
                    </a>
                    <div class="user-nav__wrapper">
                        <a class="user-nav__link user-nav__link--heart" href="#">
                            <svg width="22" height="18">
                                <use xlink:href="images/sprite.svg#heart"></use>
                            </svg>
                            <span class="sr-only">liked product</span>
                            <span class="user-nav__number">0</span>
                        </a>
                        <a class="user-nav__link user-nav__link--cart" href="#">
                            <span class="sr-only">basket</span>
                            <svg width="22" height="18">
                                <use xlink:href="images/sprite.svg#cart"></use>
                            </svg>
                            <span class="user-nav__number">0</span>
                        </a>
                    </div>

                    <button class="user-nav__link user-nav__link--btn" type="button">
                        <span class="sr-only">menu</span>
                        <svg width="21" height="21">
                            <use xlink:href="images/sprite.svg#user_btn"></use>
                        </svg>
                    </button>
                </div>
            </nav>
        </div>
    </div>
</header>
