.contact {
    padding: 115px 0;

    @include r($lg) {
        padding: 80px 0;
    }

    @include r($mob) {
        padding: 50px 0;
    }

    &__title {
        text-align: center;
        color: $blue700;
        margin-bottom: 70px;

        @include r($lg) {
            margin-bottom: 50px;
        }

        @include r($sm) {
            margin-bottom: 30px;
        }
    }

    &__subtitle {
        display: block;
        font-family: $poppins;
        font-weight: 700;
        font-size: 16px;
        color: $blue500;
    }

    &__list {
        display: flex;
        margin-bottom: 115px;

        @include r($lg) {
            margin-bottom: 80px;
        }

        @include r($md) {
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 50px;
        }
    }

    &__item {
        max-width: 370px;
        width: 100%;

        @include r($md) {

            width: 45%;
        }

        @include r($sm) {
            max-width: unset;
            width: 80%;
        }

        @include r($mob) {
            width: 100%;
        }

        &:not(:last-child) {
            margin-right: 30px;

            @include r($md) {
                margin-right: 0;
                margin-bottom: 20px;
            }

        }

        &:nth-child(1) {

            @include r($md) {
                margin-right: 20px;
            }

            @include r($sm) {
                margin-right: 0;
            }
        }
    }

    &__box {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        @include r($sm) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__map {

        @include r($md) {
            width: 70%;
        }

        @include r($sm) {
            width: 80%;
            order: -1;
            margin-bottom: 30px;
        }

        @include r($mob) {
            width: 100%;
        }
    }

    .comment-form {
        width: 620px;
        padding-bottom: 0;
        margin-right: 25px;

        @include r($sm) {
            margin-right: 0;
            width: 80%;
        }

        @include r($mob) {
            width: 100%;
        }

        &__title {
            display: none;
        }

        &__input {

            &::placeholder {
                text-transform: uppercase;
            }
        }

        &__textarea {
            height: 175px;
            margin-bottom: 30px;

            &::placeholder {
                text-transform: uppercase;
            }
        }

        &__btn {
            padding: 10px 40px;
            border-radius: 5px;

            @include r($sm) {
                width: 100%;
            }
        }
    }
}

#map {
    width: 500px;
    height: 335px;

    @include r($md) {
        width: 100%;
    }
}