.filter-category {
    margin-bottom: 55px;

    @include r($mob) {
        margin-bottom: 10px;
    }
}

.filter-form {

    @include r($mob) {
        max-height: 0;
        overflow: hidden;
        transition: max-height 1s;
    }

    &__label {
        position: relative;
        display: block;
        cursor: pointer;
    }

    &__box {
        color: $blue500;
    }

    &__input {

        &:hover+.filter-form__checkbox {
            background-color: $blue300;
        }

        &:checked+.filter-form__checkbox {
            .filter-form__box {
                color: $blue900;
            }
        }

        &:checked+.filter-form__checkbox {
            background-color: $blue300;
        }
    }

    &__checkbox {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px 0 15px;
        border-radius: 5px;
        transition: background-color 0.5s;
    }

    &__text {
        line-height: 2.7;
    }


}

.filter-title {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-family: $dmsans;
    font-weight: 700;
    font-size: 18px;
    padding-right: 55px;
    margin-bottom: 25px;

    @include r($mob) {
        margin-bottom: 10px;
        display: block;

        &::before {
            content: '';
            position: absolute;
            height: 16px;
            width: 2px;
            right: 7px;
            bottom: -4px;
            background-color: $blue500;
            transform: translateY(-50%);
            transition: background-color 1s;
        }
    }

    &::after {
        content: '';
        position: absolute;
        height: 3px;
        width: 40px;
        background-color: $blue500;
        right: 0;
        top: 50%;
        transform: translateY(-50%);

        @include r($mob) {
            width: 16px;  
            height: 2px;  
        }
    }
}

.filter-title.active {
    &::before {
        background-color: transparent;
    }
}

.filter-price {
    margin-bottom: 70px;

    @include r($mob) {
        margin-bottom: 10px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__box {
        display: flex;
        font-size: 14px;
        line-height: 3;
    }

    &__form {

        @include r($mob) {
            max-height: 0;
            overflow: hidden;
            transition: max-height 1s;
        }
    }
}

.irs--flat .irs-line {
    height: 3px;
    top: 6px;
    background-color: $blue500;
    opacity: 0.659;
    border-radius: 0;
}

.irs--flat .irs-handle {
    top: 0;
    width: 15px;
    height: 15px;
    background-color: $blue500;
    cursor: pointer;
}

.irs--flat .irs-handle>i:first-child {
    display: none;
}

.irs--flat .irs-bar {
    top: 6px;
    height: 4px;
    background-color: $blue500;
}


.irs--flat .irs-min,
.irs--flat .irs-max {
    display: none;
}

.irs--flat .irs-from,
.irs--flat .irs-to,
.irs--flat .irs-single {
    display: none;
}

.irs--flat {
    height: 25px;
}

.filter-brand {
    margin-bottom: 50px;

    @include r($mob) {
        margin-bottom: 10px;
    }

    .filter-form {

        &__checkbox {
            padding-right: 0;
        }

        &__box {
            width: 70px;
            display: flex;
            justify-content: center;
        }
    }
}

.recent {

    &__products {

        @include r($mob) {
            max-height: 0;
            overflow: hidden;
            transition: max-height 1s;
        }
    }

    @include r($mob) {
        margin-bottom: 30px;
    }

    &__item:not(:last-child) {
        margin-bottom: 25px;
    }
}

.recent-card {

    &__link {
        display: flex;
        transition: box-shadow 0.5s;

        &:hover {
            box-shadow: 0px 6px 47px 3px $r-black010;
        }
    }

    &__img {
        outline: 2px solid $blue200;
        width: 70px;
        height: 70px;
        object-fit: contain;
    }

    &__box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 20px;
        font-family: $rubik;
        font-weight: 400;
    }

    &__title {
        font-weight: inherit;
        font-size: 14px;
    }
}


.jq-ry-container {
    padding: 0;
}