.shop {
    padding-top: 115px;

    @include r($lg) {
        padding-top: 80px;
    }

    @include r($mob) {
        padding-top: 30px;
    }

    &__inner {
        display: flex;

        @include r($mob) {
            flex-direction: column;
        }

    }

    &__filters {
        max-width: 270px;
        width: 100%;
        margin-right: 30px;

        @include r($sm) {
            opacity: 0;
            transition: opacity 1.5s, width 2.5s;
            width: 0px;
        }

        @include r($mob) {
            margin-right: 0;
            max-width: unset;
            width: 90%;
            margin: 0 auto;
            opacity: unset;
        }

        &--list {
            display: block;
            opacity: 1;
            width: 100%;  
            
            @include r($mob) {
                width: 90%;
            }
        }
    }
}

.shop+.partners {
    padding-top: 0;

    &__items {

        @include r($md) {
            padding: 50px 0;
        }
    }
}
