.articles {

    &__title-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 45px;
    }

    &__title {
        margin-bottom: 0;

        @include r($mob) {
            text-align: start;
        }
    }

    &__link {
        position: relative;
        border-bottom: 1px solid transparent;
        font-family: $dmsans;
        font-weight: 700;
        color: $black800;
        padding-right: 25px;
        transition: border-color 0.5s;
        @include clamp(1);
        min-width: 100px;

        @include r($sm) {
            padding: 0 0 0 10px;
        }

        &::after {
            content: '>';
            position: absolute;
            right: 0;

            @include r($sm) {
                display: none;
            }
        }

        &:hover {
            border-color: $black800;
        }
    }

    &__items {
        display: flex;
        justify-content: space-between;
        margin-bottom: -169px;

        @include r($md) {
            margin-bottom: 0;
        }

        @include r($sm) {
            flex-direction: column;
        }

        @include r($mob) {
            flex-wrap: wrap;
        }
    }

    &__news {

        &:not(:last-child) {

            @include r($lg) {
                margin-right: 10px;
            }

            @include r($sm) {
                margin-right: 0;
                margin-bottom: 25px;
            }
        }
    }

    .articles-card {
        max-width: 370px;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        @include r($sm) {
            overflow: unset;
            flex-direction: unset;
            max-width: 100%;
            align-items: center;
        }

        @include r($mob) {
            display: block;
        }

        &__inner {
            display: flex;
        }

        &__img {
            width: 370px;
            height: 250px;
            object-fit: cover;
            transition: transform 0.5s;

            @include r($sm) {
                height: auto;
            }

            @include r($mob) {
                width: 100%;
            }

            &:hover {
                transform: scale(1.2);
            }
        }

        &__wrapper {
            position: relative;
            background-color: $white;

            @include r($sm) {
                width: 75%;
            }

            @include r($mob) {
                width: 100%;
            }
        }

        &__link {
            position: absolute;
            left: 25px;
            top: 0;
            font-family: $poppins;
            font-weight: 700;
            font-size: 14px;
            border-radius: 25px;
            background-color: $blue500;
            text-transform: uppercase;
            color: $white;
            padding: 5px 30px;
            transform: translateY(-50%);
            transition: color 0.5s;

            @include r($sm) {
                transform: translateY(0);
            }

            @include r($mob) {
                transform: translateY(-50%);
            }

            &:hover {
                color: $yellow700;
            }

        }

        &__info,
        &__bottom {
            margin: 0 30px 15px;
            font-weight: 500;

            @include r($mob) {
                margin: 0;
            }
        }

        &__info {
            padding-top: 35px;
            font-family: $dmsans;
            font-size: 18px;
            line-height: 1.2;
            color: $black800;
            @include clamp(3);
        }

        &__bottom {
            padding-top: 10px;
            text-transform: uppercase;
            border-top: 1px solid $white300;
            font-size: 12px;
            color: $blue600;
            line-height: 2.5;
            @include clamp(1);

            svg {
                margin-right: 2px;
                fill: $blue600;
            }
        }

        &__date {
            margin-right: 20px;
        }

        &__copy {
            border-bottom: 1px solid transparent;
            padding-bottom: 5px;
            transition: border-color 0.5s;

            &:hover {
                border-color: $black700;
            }
        }
    }
}