@import '../components/button';


.trendy-slider {

    &__item {
        position: relative;
        background-color: $yellow400;

        &::after {
            content: '';
            position: absolute;
            background-image: url(..//images/slider__bg.png);
            background-repeat: no-repeat;
            width: 795px;
            height: 635px;
            top: 100px;
            right: 0;
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 205px 0 280px;
    }

    &__title {
        font-family: $rubik;
        font-weight: 500;
        font-size: 72px;
        text-transform: uppercase;
        margin-bottom: 5px;
        @include clamp2;
    }

    &__info {
        width: 370px;
        font-size: 18px;
        line-height: 1.7;
        color: $blue700;
        margin-bottom: 35px;
        @include clamp3;
    }

    &__button {
        outline: 2px solid transparent;        
        background-color: $blue500;
        color: $white200;
        border: none;
        padding: 22px 100px 22px 30px;
        transition: outline 0.5s, color 0.5s;
        svg{
            fill: $white200;
            transition: fill 0.5s;
        }

        &:hover,
        &:hover svg {
            color: $yellow400;
            fill: $yellow400;
        }

        &:focus {
            outline: 2px solid #f9fafb;
        }

    }


    &__img {
        width: 640px;
        height: 265px;
        z-index: 1;
    }

    .slick-dots {
        content: '';
        position: absolute;
        display: flex;
        bottom: 0;
        right: 50%;
        margin-bottom: 45px;
        transform: translateX(50%);

        li:not(:last-child) {
            margin-right: 12px;
        }

        button {
            border: none;
            font-size: 11px;
            font-family: $rubik;
            font-weight: 500;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $yellow700;
            color: $blue900;
            transition: background-color 0.5s;

            &:hover {
                background-color: $white;
            }
        }

        .slick-active {
            button {
                background-color: $white;
            }
        }
    }



}

.privilege {

    &__items {
        background-color: $yellow600;
        display: flex;
        justify-content: space-around;
        padding: 35px 0;
    }

    &__item {
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
        }

        &::before {
            content: '';
            position: absolute;
            background-color: $green200;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            bottom: 50%;
            transform: translateY(50%);
            left: -45px;
        }

        &--support {

            &::after {
                background-image: url(..//images/icons/support.svg);
                left: -77px;
                top: 5px;
            }
        }

        &--delivery {

            &::after {
                background-image: url(..//images/icons/delivery.svg);
                left: -80px;
                top: 25px;
            }
        }

        &--payment {

            &::after {
                background-image: url(..//images/icons/payment.svg);
                left: -77px;
                top: 5px;
            }
        }

    }

    &__title {
        font-family: $dmsans;
        font-weight: 700;
        font-size: 18px;
        line-height: 2.2;
        color: $black200;
    }

    &__text {
        font-family: $dmsans;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.9;
        color: $black100;
        max-width: 209px;
        @include clamp2;
    }

}

.products-week {
    padding: 65px 0 80px;

    .product-items {        
        display: grid;
        grid-template-columns: 270px 270px 270px 270px;
        grid-auto-rows: 380px;
        grid-column-gap: 30px;
        grid-row-gap: 40px;
        margin-bottom: 185px;


        &__inner {
            position: relative;
            background-color: $white;
            box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
        }

        .product-card {

            position: relative;
            display: flex;
            flex-direction: column;

            &:hover .icons__btn {
                opacity: 1;
            }

            &__wrapper {
                padding: 25px 15px;
                margin-bottom: 50px;
                height: 240px;
                display: flex;
                align-items: center;
                justify-content: center
            }

            .icons {
                &__btn {
                    position: absolute;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 45px;
                    height: 45px;
                    fill: $blue500;
                    border-radius: 50%;
                    background-repeat: no-repeat;
                    background-position: center;
                    background-color: $white;
                    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.40);
                    opacity: 0;
                    transition: opacity 0.3s, fill 0.3s, background-color 0.3s, box-shadow 0.3s;
                    transform: translateX(50%);

                    &:hover {
                        background-color: $blue500;
                        fill: $white;
                        box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.80);
                    }

                    &--search {
                        top: 50%;
                        right: 75%;
                    }

                    &--cart {
                        top: 50%;
                        right: 50%;
                    }

                    &--heart {
                        top: 50%;
                        right: 25%;
                    }
                }
            }

            &__img {
                display: block;
            }

            &__subtitle {
                margin-bottom: 10px;
                font-size: 16px;
                color: $blue900;
                text-align: center;
                font-family: $dmsans;
                font-weight: 500;
                @include clamp1;
            }

            &__count {
                display: block;
                margin-bottom: 38px;
                font-family: $dmsans;
                font-weight: 700;
                color: $blue500;
                text-align: center;
            }
        }

    }


}

.products-filters {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;

    &__item:not(:last-child) {
        margin-right: 18px;
    }

    &__btn {
        border: none;
        border-bottom: 1px solid transparent;
        background-color: transparent;
        font-family: $dmsans;
        font-weight: 700;
        color: $gray300;
        transition: color 0.5s, border-bottom 0.5s;
        outline: transparent;

        &:hover {
            color: $black700;
            border-bottom: 1px solid $black700;
        }
        &:focus{
            color: $black700;
        }
    }
    .mixitup-control-active {
        color: $black700;
    }
}





.products-bottom {

    &__items {
        display: flex;
        justify-content: space-between;
    }

    &__wrapper {
        max-width: 870px;
        width: 100%;
        background-color: $yellow300;
    }

    &__item{
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        align-items: center;
    }

    &__img{
        position: relative; top: -100px;
        
    }

    &__inner{
        padding: 49px 0 65px 70px;
    }

    &__title{
        font-family: $dmsans;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.3;
        @include clamp2;
        margin-bottom: 15px;
    }

    &__text{
        @include clamp2;
        line-height: 1.9;
        margin-bottom: 30px;
    }

    &__button{
        color: $blue900;
        background-color: transparent;
        border: 1px solid rgba($color: $blue900, $alpha: 0.4);
        border-radius: 5px;
        transition: color 0.5s;
        svg{
            fill: $blue900;
            transition: fill 0.5s;
        }

        &:hover,
        &:hover svg{
            color: $blue500;
            fill: $blue500;
        }
    }

}

.design {

    padding-bottom: 120px;

    &__items {
        display: grid;
        grid-template-columns: 370px 370px 370px;
        grid-auto-rows: 245px;
        gap: 30px;
        grid-column-gap: 30px;
        grid-row-gap: 35px;
    }

    &__wrapper {
        position: relative;
        background-color: $gray200;
    }

    &__link {
        display: block;
        padding: 40px 0 30px 35px;
    }

    &__item {
        position: absolute;
        left: 0;
        top: 0;
    }


    &__text {
        max-width: 175px;
        font-weight: 700;
    }

    &__title-name {
        position: relative;
        font-family: $dmsans;
        font-size: 20px;
        @include clamp2;
        color: $black700;
        margin-bottom: 10px;
        max-width: 180px;
        z-index: 1;
    }

    &__subtitle {
        position: relative;
        color: $blue500;
        @include clamp1;
        z-index: 1;
    }

}


.video {
    padding-bottom: 110px;

    &__link {
        position: relative;
        display: block;
        height: 62.5vh;
        background-size: cover;
        background-position: center; 
        &:hover .play-btn{
            fill: $yellow400;
        }

        svg{
            position: absolute;
            right: 50%;
            bottom: 50%;
            transform: translate(50%, 50%);
        }       
    }

    &__wrapper{
        position: absolute;
        right: 50%;
        bottom: 50%;
        transform: translate(50%, 50%);
        width: 127px;
        height: 127px;
        background-color: rgba(163, 187, 200, 0.4);
        border-radius: 50%;
    }

    .play-bg{
        position: absolute;
        right: 50%;
        fill: $blue500;
    }

    .play-btn{
        position: absolute;
        right: 0;
        fill: $white;
        transition: fill 0.5s;
    }

}

