.trendy-slider {
    position: relative;

    &__item {
        position: relative;
        background-color: $yellow400;

        &::after {
            content: '';
            position: absolute;
            width: 634px;
            height: 634px;
            top: 50%;
            transform: translateY(-50%);
            right: 185px;
            background: linear-gradient(90deg, rgba(255, 255, 255, 0%), rgba(255, 255, 255, 100%));
            border-radius: 50%;

            @include r($sm) {
                display: none;
            }
        }
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding: 205px 0 280px;

        @include r($md) {
            flex-direction: column;
            align-items: center;
            padding: 120px 0;
        }

        @include r($mob) {
            padding-top: 80px;
        }
    }

    &__title {
        font-family: $rubik;
        font-weight: 500;
        font-size: 72px;
        text-transform: uppercase;
        margin-bottom: 5px;
        @include clamp(2);

        @include r($lg) {
            font-size: 60px;
        }

        @include r($mob) {
            font-size: 30px;
        }
    }

    &__text {

        @include r($md) {
            z-index: 1;
        }
    }

    &__info {
        width: 370px;
        font-size: 18px;
        line-height: 1.7;
        color: $blue700;
        margin-bottom: 35px;
        @include clamp(5);

        @include r($sm) {
            width: 100%;
        }
    }

    &__link {
        display: inline-block;
        outline: 2px solid transparent;
        background-color: $blue500;
        color: $white200;
        border: none;
        padding: 22px 100px 22px 30px;
        transition: outline 0.5s, color 0.5s;

        @include r($md) {
            margin-bottom: 50px;
        }

        @include r($mob) {
            margin-bottom: 20px;
            padding: 15px 60px 16px 15px;
        }

        svg {
            fill: $white200;
            transition: fill 0.5s;
        }

        &:hover {
            color: $yellow400;

            svg {
                fill: $yellow400;
            }
        }

        &:focus {
            outline: 2px solid #f9fafb;
        }
    }

    &__img {
        width: 640px;
        height: 265px;
        object-fit: cover;
        z-index: 1;

        @include r($lg) {
            width: 50%;
            height: auto;
        }
    }

    .slick-dots {
        content: '';
        position: absolute;
        display: flex;
        bottom: 0;
        right: 50%;
        margin-bottom: 45px;
        transform: translateX(50%);

        li:not(:last-child) {
            margin-right: 12px;
        }

        button {
            border: none;
            font-size: 11px;
            font-family: $rubik;
            font-weight: 500;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            background-color: $yellow700;
            color: $blue900;
            transition: background-color 0.5s;

            &:hover {
                background-color: $white;
            }
        }

        .slick-active {
            button {
                background-color: $white;
            }
        }
    }

}

.privilege {

    &__items {
        background-color: $yellow600;
        display: flex;
        padding: 35px 0;

        @include r($sm) {
            flex-direction: column;
        }

        @include r($mob) {
            padding: 0;
        }
    }

    &__item {
        max-width: 590px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        @include r($sm) {
            max-width: 100%;
            justify-content: flex-start;
            padding: 10px 10px;
        }


        &:not(:last-child) {
            border-right: 1px solid $green200;

            @include r($sm) {
                border-right: none;
                border-bottom: 1px solid $green200;
            }
        }

        svg {
            margin-right: 40px;
            fill: $blue500;

            @include r($md) {
                margin: 0 10px;
            }

            @include r($sm) {
                margin: 0 30px;
            }

            @include r($mob) {
                margin: 10px;
            }
        }

    }

    &__inner {

        @include r($sm) {
            width: 100%;
        }
    }

    &__title {
        font-family: $dmsans;
        font-weight: 700;
        font-size: 18px;
        line-height: 2.2;
        color: $black200;
        @include clamp(1);
    }

    &__text {
        font-family: $dmsans;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.9;
        color: $black100;
        max-width: 209px;
        @include clamp(2);

        @include r($sm) {
            max-width: 100%;
        }
    }

}